@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.container {
  width: 600px;
  margin: 30px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid black;
  animation: gerak 1s ;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease-in-out;
}


textarea {
  height: 120px;
  font-family: 'Poppins', sans-serif;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
}

.foot{
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  font-family:'Poppins', sans-serif; 
}

.ter{
  margin: 0 auto;
  color: black;
}

@keyframes gerak {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}