
h1{
    text-align: center;
}    
    table {
      border-collapse: collapse;
      margin: 0 auto;
    }
    
    th, td {
      border: 2px solid black;
      padding: 8px;
    }
    
    th {
      background-color: #4CAF50;
    }
    

    .container {
        margin: 0 auto;
        width: 800px;
        padding: 20px;
        animation: gerak 1s;
      }

    
@keyframes gerak {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}